
file                                            Read    Phenotype   Replicate   Batch
Sample_MK01/MK01_ATCACG_L001_R1_001.fastq.gz    R1      Rescued     1           1
Sample_MK01/MK01_ATCACG_L001_R1_002.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_003.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_004.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_005.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_006.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_007.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_008.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_009.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_010.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_011.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_012.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_013.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_014.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_015.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_016.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_017.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_018.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_019.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_020.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_021.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_022.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_023.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_024.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_025.fastq.gz
Sample_MK01/MK01_ATCACG_L001_R1_026.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_001.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_002.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_003.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_004.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_005.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_006.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_007.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_008.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_009.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_010.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_011.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_012.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_013.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_014.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_015.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_016.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_017.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_018.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_019.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_020.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_021.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_022.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_023.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_024.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_025.fastq.gz
Sample_MK01/MK01_ATCACG_L002_R1_026.fastq.gz

Sample_MK02/MK02_CGATGT_L001_R1_001.fastq.gz    R1      Mutant      1           1
Sample_MK02/MK02_CGATGT_L001_R1_002.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_003.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_004.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_005.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_006.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_007.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_008.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_009.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_010.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_011.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_012.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_013.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_014.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_015.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_016.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_017.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_018.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_019.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_020.fastq.gz
Sample_MK02/MK02_CGATGT_L001_R1_021.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_001.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_002.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_003.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_004.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_005.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_006.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_007.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_008.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_009.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_010.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_011.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_012.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_013.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_014.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_015.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_016.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_017.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_018.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_019.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_020.fastq.gz
Sample_MK02/MK02_CGATGT_L002_R1_021.fastq.gz

Sample_MK03/MK03_ACAGTG_L001_R1_001.fastq.gz    R1      Rescued     2           2
Sample_MK03/MK03_ACAGTG_L001_R1_002.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_003.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_004.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_005.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_006.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_007.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_008.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_009.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_010.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_011.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_012.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_013.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_014.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_015.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_016.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_017.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_018.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_019.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_020.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_021.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_022.fastq.gz
Sample_MK03/MK03_ACAGTG_L001_R1_023.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_001.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_002.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_003.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_004.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_005.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_006.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_007.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_008.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_009.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_010.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_011.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_012.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_013.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_014.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_015.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_016.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_017.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_018.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_019.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_020.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_021.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_022.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_023.fastq.gz
Sample_MK03/MK03_ACAGTG_L002_R1_024.fastq.gz

Sample_MK04/MK04_GCCAAT_L001_R1_001.fastq.gz    R1      Mutant      2           2
Sample_MK04/MK04_GCCAAT_L001_R1_002.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_003.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_004.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_005.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_006.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_007.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_008.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_009.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_010.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_011.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_012.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_013.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_014.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_015.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_016.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_017.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_018.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_019.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_020.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_021.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_022.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_023.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_024.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_025.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_026.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_027.fastq.gz
Sample_MK04/MK04_GCCAAT_L001_R1_028.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_001.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_002.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_003.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_004.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_005.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_006.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_007.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_008.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_009.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_010.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_011.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_012.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_013.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_014.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_015.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_016.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_017.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_018.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_019.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_020.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_021.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_022.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_023.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_024.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_025.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_026.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_027.fastq.gz
Sample_MK04/MK04_GCCAAT_L002_R1_028.fastq.gz

Sample_MK05/MK05_CTTGTA_L001_R1_001.fastq.gz    R1      Rescued     3           3
Sample_MK05/MK05_CTTGTA_L001_R1_002.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_003.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_004.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_005.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_006.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_007.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_008.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_009.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_010.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_011.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_012.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_013.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_014.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_015.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_016.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_017.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_018.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_019.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_020.fastq.gz
Sample_MK05/MK05_CTTGTA_L001_R1_021.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_001.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_002.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_003.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_004.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_005.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_006.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_007.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_008.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_009.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_010.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_011.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_012.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_013.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_014.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_015.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_016.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_017.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_018.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_019.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_020.fastq.gz
Sample_MK05/MK05_CTTGTA_L002_R1_021.fastq.gz

Sample_MK06/MK06_GTGAAA_L001_R1_001.fastq.gz    R1      Mutant      3           3
Sample_MK06/MK06_GTGAAA_L001_R1_002.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_003.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_004.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_005.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_006.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_007.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_008.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_009.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_010.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_011.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_012.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_013.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_014.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_015.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_016.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_017.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_018.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_019.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_020.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_021.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_022.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_023.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_024.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_025.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_026.fastq.gz
Sample_MK06/MK06_GTGAAA_L001_R1_027.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_001.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_002.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_003.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_004.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_005.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_006.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_007.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_008.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_009.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_010.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_011.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_012.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_013.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_014.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_015.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_016.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_017.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_018.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_019.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_020.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_021.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_022.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_023.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_024.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_025.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_026.fastq.gz
Sample_MK06/MK06_GTGAAA_L002_R1_027.fastq.gz
